<%- include('partials/head') %>
<main class="container-flex">
    <div class="container bg-light text-center w-50 mt-5">
        <h1 class="bg-light">Oh No, it broke. Go <a href="/">home</a> and try again!</h1>
    </div>
</main>
<%- include('partials/foot') %>
