<%- include('partials/head') %>


<main class="container-fluid text-center">
    <nav class="navbar sticky-top container-fluid">
        <div class="container-fluid">
            <button class="btn btn-secondary btn-lg" id="memeButton"><h1 class="">Make Some Memes</h1></button>
        </div>
      </nav>
    
        <div class="row row-cols-1 row-cols-md-4 g-2" id="memeHolder">
        </div>
</main>  

    <script src="/js/app.js"></script>    
<% include('partials/foot') %>
